body {
    background-color: #1b1b1b;
}
body::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #1b1b1b;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 2px rgba(0,0,0,.3);
    background-color: #343434;
    border: 1px solid #1b1b1b;
}
a {
    text-decoration: none;
}
.boxP0, .boxP1 {
    align-content: flex-start;
    flex-wrap: wrap;
    display: flex;
}
.boxP0 {
    padding: 2%;
}
.boxP1 {
    width: 50px;
    position: fixed;
    top: 25px;
    right: 25px;
}
.box0, .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10 {
    position: relative;
    align-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
}
.box0, .box1, .box2, .box3, .box4, .box5, .box6 {
    box-shadow: 0 0 5px rgba(0,0,0,1);
}
.box0 {
    width: 600px;
    min-height: 500px;
    box-shadow: 0 0 7px rgba(0,0,0,1);
    background-color: #101045;
    border-radius: 25px
}
.box1 {
    width: 500px;
    height: 120px;
    background-color: #1b1b1b;
    border-radius: 15px;
}
.box2, .box3, .box6, .box7, .box8, .box9, .box10 {
    width: 210px;
    height: 50px;
}
.box2, .box3, .box6 {
    background-color: #343434;
    border-radius: 10px;
}
.box3, .box8 {
    width: 300px;
}
.box6, .box9 {
    width: 250px;
}
.box4 {
    width: 50px;
    height: 50px;
    background-color: #343434aa;
    border-radius: 10px;
}
.box5 {
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    border-radius: 15px;
    top: 11px;
}
.boxN0 {
    width: 475px;
    min-height: 0px;
    position: relative;
    align-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
}
.boxO0, .boxO1 {
    position: relative;
    align-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    width: 100%;
}
.boxO0 {
    height: 45px;
}
.boxO1 {
    height: 0px;
}
p, button {
    font-family: Avantgarde, sans-serif;
}
button {
    background: transparent;
    border: 0px solid transparent;
}
.boxT0, .boxT1 {
    text-align: center;
    margin: 0 auto;
}
.boxT0 {
    line-height: 50px;
    font-size: 18pt;
    color: #ffffff;
}
.boxT1 {
    line-height: 50px;
    font-size: 18pt;
    color: #ffffff;
}
