body {
    background-color: #ffffff;
}
a {
	text-decoration: none;
}
.boxP0 {
    align-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    padding: 2%;
}
.boxP1 {
    width: 50px;
    position: absolute;
    align-content: flex-start;
    flex-wrap: wrap;
    display: flex;

    top: 25px;
    right: 25px;
}
.box0,.box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9 {
    position: relative;
    align-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
}
.box0,.box1,.box2,.box3,.box4,.box5,.box6 {
    box-shadow: 0 0 5px rgba(0,0,0,1);
}
.box0 {
    width: 600px;
    min-height: 500px;
    box-shadow: 0 0 7px rgba(0,0,0,1);
    background-color: #ddddff;
    border-radius: 25px
}
.box1 {
    width: 500px;
    height: 120px;
    background-color: #ffffff;
    border-radius: 15px;
}
.box2,.box3,.box6,.box7,.box8,.box9 {
    width: 210px;
    height: 50px;
}
.box2,.box3,.box6 {
    background-color: #d0d0ff;
    border-radius: 10px;
}
.box3,.box8 {
    width: 300px;
}
.box6,.box9 {
    width: 250px;
}
.box4 {
    width: 50px;
    height: 50px;
    background-color: #d0d0ff;
    border-radius: 10px;
}
.box5 {
    width: 28px;
    height: 28px;
    background-color: #343434;
    border-radius: 15px;

    top: 11px;
}
.boxN0 {
    width: 475px;
    min-height: 0px;

    position: relative;
    align-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
}
.boxO0,.boxO1 {
    position: relative;
    align-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
}
.boxO0 {
    width: 100%;
    height: 45px;
}
.boxO1 {
    width: 100%;
    height: 0px;
}
p, h1, tr, td, th, select, option, input, button, textarea {
    font-family: Avantgarde, sans-serif;
}
button {
    background: #ffffff;
    border: 0px solid #ffffff;
}
.boxT0,.boxT1 {
    text-align: center;
    margin: 0 auto;
}
.boxT0 {
    line-height: 50px;
    font-size: 18pt;
    color: #000000;
}
.boxT1 {
    line-height: 50px;
    font-size: 18pt;
    color: #000000;
}
