body {
    background-color: #1b1b1b;
}
body::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #1b1b1b;
}
.box0::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 10px;
}
.box0::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 2px rgba(0,0,0,.3);
    background-color: #343434;
    border: 1px solid #1b1b1b;
}
a {
    text-decoration: none;
}
.boxTest {
    position: relative;
    align-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    width: 100px;
    min-height: 2000px;
    box-shadow: 0 0 7px rgba(0,0,0,1);
    background-color: #101045;
}
.boxP0, .boxP1, .boxP2 {
    align-content: flex-start;
    flex-wrap: wrap;
    display: flex;
}
.boxP0 {
    padding: 25px;
}
.boxP1, .boxP2 {
    position: fixed;
}
.boxP0 {
    position: absolute;
    left: 250px;
    right: 75px;
}
.boxP1 {
    width: 50px;
    top: 25px;
    right: 25px;
}
.boxP2 {
    width: 250px;
    height: 100vh;
    top: 0px;
    left: 0px;
}
.box0, .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8 {
    position: relative;
    align-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
}
.box0, .box1, .box2, .box3, .box4, .box5, .box6{
    box-shadow: 0 0 5px rgba(0,0,0,1);
}
.box0 {
    width: 250px;
    height: 100vh;
    box-shadow: 0 0 7px rgba(0,0,0,1);
    background-color: #101045;
    overflow-y: auto;
}
.box0::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #101045;
}
.box8 {
	width: 215px;
}
.box1, .box2, .box3 {
    width: 215px;
    background-color: #1b1b1b;
    border-radius: 15px;
}
.box1 {
    min-height: 85px;
}
.box2, .box8 {
    min-height: 50px;
}
.box3 {
    height: 80px;
}
.box6 {
    background-color: #343434;
    border-radius: 10px;
}
.box6, .box7 {
    width: 165px;
    height: 40px;
}
.box7 {
    width: 177px;
}
.box4 {
    width: 50px;
    height: 50px;
    background-color: #343434aa;
    border-radius: 10px;
}
.box5 {
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    border-radius: 15px;
    top: 11px;
}
.boxN0 {
    width: 200px;
    min-height: 0px;
    position: relative;
    align-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
}
.boxO0, .boxO1, .boxO2, .boxO3 {
    position: relative;
    align-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    width: 100%;
}
.boxO0 {
    height: 45px
}
.boxO1 {
    height: 0px;
}
.boxO2 {
    height: 20px;
}
.boxO3 {
    height: 15px;
}
p, h1, th, td, input, button, textarea {
    font-family: Avantgarde, sans-serif;
}
button {
    background: transparent;
    border: 0px solid transparent;
}
.boxI0 {
	color: #ffffff;
    position: relative;
    align-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    top: 12px;
    font-size: 28px;
}
input, select, textarea {
	background-color: #343434;
	margin: 0 auto;
	box-shadow: 0 0 5px rgba(0,0,0,1);
	border-radius: 7px;
	border-color: #d0d0d0;
	outline: none;
	color: #ffffff;
	font-size: 12pt;
	text-align: center;
	width: 165px;  
	height: 22px;
	
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
select {
	height: 25px;
}
textarea {
	max-width: 165px;
	min-width: 165px;
	max-height: 300px;
	min-height: 22px;
}
input:focus, select:focus, textarea:focus {
	border-color: #3030b1;
}
.boxT0, .boxT1, .boxT2 {
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
}
.boxT0 {
    line-height: 50px;
    font-size: 18pt;
}
.boxT1 {
    line-height: 40px;
    font-size: 14pt;
}
.boxT2 {
    margin: 0 0 0 25px;
    line-height: 40px;
    font-size: 14pt;
}
.boxTab0 {
    left: 0; right: 0;
    width: 100%;
    box-shadow: 0 0 7px rgba(0,0,0,1);
    border-radius: 20px;
}
th {
    background-color: #101045;
}
.boxTh0 {
    border-radius: 20px 0 0 0;
}
.boxTh1 {
    border-radius: 0 20px 0 0;
}
.boxTh2 {
    border-radius: 20px 20px 0 0;
}
.boxTd0 {
    border-radius: 0 0 0 20px;
}
.boxTd1 {
    border-radius: 0 0 20px 0;
}
.boxTd2 {
    border-radius: 0 0 20px 20px;
}
th, td {
    border: none;
    padding: 5px;
    min-width: 0px;
    width: 100vw;
    height: 75px;
    font-size: 12pt;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
}
tr {
    background-color: #2c2c2c;
}
tr:nth-child(even) {
    background-color: #343434;
}
td {
    border-top: 1px solid #000000;
}
